.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

select {
  text-align-last: center;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.AnnoncesRecherche {
  margin-left: 25%;
  margin-right: 25%;
}

.flexBox {
  display: flex;
  justify-content: space-around;
}

.divideByThree {
  column-count: 3;
  column-gap: 10px;
}

.Annonce {
  border: 1px solid black;
}
.QuantiteAnnonce {
  width: 25px;
  height: 25px;
}
.LogoAccueil {
  width: 20vh;
}

.LogoMagasin {
  width: 5vh;
  padding-right: 5px;
}

.containerCenter {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
